---
import GuideContainer from "../../components/GuideContainer.astro";
import { PAGES } from "../../utils/constants";

const {
  title = PAGES.BUILDING_YOUR_NETWORK.title,
  description = PAGES.BUILDING_YOUR_NETWORK.description,
  url = PAGES.BUILDING_YOUR_NETWORK.url,
} = Astro.props;
---

<GuideContainer title={title} description={description} url={url}>
  <p>HERE IS THE BODY OF THE {title} page</p>
</GuideContainer>
