---
import GuideContainer from "../../components/GuideContainer.astro";
import { PAGES } from "../../utils/constants";

const {
  title = PAGES.INTER_TIMEZONE_WORK.title,
  description = PAGES.INTER_TIMEZONE_WORK.description,
  url = PAGES.INTER_TIMEZONE_WORK.url,
} = Astro.props;
---

<GuideContainer title={title} description={description} url={url}>
  <p>HERE IS THE BODY OF THE {title} page</p>
</GuideContainer>
