---
import GuideContainer from "../../components/GuideContainer.astro";

const {
  title = "Personal Brand",
  description = "Are you wanting to leverage your brand to advance your career but" +
    "don't know how? This guide explores importance of personal branding" +
    "and tips to help you define and develop your own brand.",
  url = "personal-brand",
} = Astro.props;
---

<GuideContainer title={title} description={description} url={url}>
  <p>HERE IS THE BODY OF THE {title} page</p>
</GuideContainer>
