// | -------------------------------------------------------------
// | Color
// | -------------------------------------------------------------

$colors: (
  primary: (
    100: hsl(200, 60%, 36%),
    //Button
    200: hsl(218, 25%, 38%),
    // Gradient
    300: hsl(55, 62%, 89%),
    // 300: hsl(55, 81%, 85%),
    //Navbar //Accent color
    400: hsl(166, 34%, 34%),
    //cards
    500: hsl(56, 19%, 58%),
    600: hsl(30, 10%, 96%),
    //top button
    700: hsl(12, 6%, 15%),
    800: hsl(231, 14%, 10%),
  ),
  secondary: (
    100: hsl(150, 8%, 95%),
    // navbar
    200: hsl(173, 80%, 63%),
    300: hsl(173, 72%, 57%),
    400: hsl(173, 75%, 47%),
    500: hsl(173, 90%, 30%),
  ),
  neutral: (
    100: hsl(0 0% 100%),
    200: hsl(200 23% 97%),
    300: hsl(200 12% 95%),
    400: hsl(205 12% 88%),
    500: hsl(209 13% 83%),
    600: hsl(208 6% 55%),
    700: hsl(210 8% 31%),
    800: hsl(212 9% 22%),
    900: hsl(210 10% 14%),
  ),
  dark: (
    100: hsl(240, 4%, 9%),
  ),
);
