// | -------------------------------------------------------------
// | Font
// | -------------------------------------------------------------

@use "breakpoint" as *;

@font-face {
  font-family: "ibm_plex_sansbold";
  src: url("/src/assets/Fonts/webfontkit-IBM-Plex-Sans/ibmplexsans-bold-webfont.woff2")
      format("woff2"),
    url("/src/assets/Fonts/webfontkit-IBM-Plex-Sans/ibmplexsans-bold-webfont.woff")
      format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "ibm_plex_sansbold_italic";
  src: url("/src/assets/Fonts/webfontkit-IBM-Plex-Sans/ibmplexsans-bolditalic-webfont.woff2")
      format("woff2"),
    url("/src/assets/Fonts/webfontkit-IBM-Plex-Sans/ibmplexsans-bolditalic-webfont.woff")
      format("woff");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "ibm_plex_sansitalic";
  src: url("/src/assets/Fonts/webfontkit-IBM-Plex-Sans/ibmplexsans-italic-webfont.woff2")
      format("woff2"),
    url("/src/assets/Fonts/webfontkit-IBM-Plex-Sans/ibmplexsans-italic-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "ibm_plex_sanslight";
  src: url("/src/assets/Fonts/webfontkit-IBM-Plex-Sans/ibmplexsans-light-webfont.woff2")
      format("woff2"),
    url("/src/assets/Fonts/webfontkit-IBM-Plex-Sans/ibmplexsans-light-webfont.woff")
      format("woff");
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: "ibm_plex_sanslight_italic";
  src: url("/src/assets/Fonts/webfontkit-IBM-Plex-Sans/ibmplexsans-lightitalic-webfont.woff2")
      format("woff2"),
    url("/src/assets/Fonts/webfontkit-IBM-Plex-Sans/ibmplexsans-lightitalic-webfont.woff")
      format("woff");
  font-weight: lighter;
  font-style: italic;
}

@font-face {
  font-family: "ibm_plex_sansmedium";
  src: url("/src/assets/Fonts/webfontkit-IBM-Plex-Sans/ibmplexsans-medium-webfont.woff2")
      format("woff2"),
    url("/src/assets/Fonts/webfontkit-IBM-Plex-Sans/ibmplexsans-medium-webfont.woff")
      format("woff");
  font-weight: medium;
  font-style: normal;
}

@font-face {
  font-family: "ibm_plex_sansmedium_italic";
  src: url("/src/assets/Fonts/webfontkit-IBM-Plex-Sans/ibmplexsans-mediumitalic-webfont.woff2")
      format("woff2"),
    url("/src/assets/Fonts/webfontkit-IBM-Plex-Sans/ibmplexsans-mediumitalic-webfont.woff")
      format("woff");
  font-weight: medium;
  font-style: italic;
}

@font-face {
  font-family: "ibm_plex_sansregular";
  src: url("/src/assets/Fonts/webfontkit-IBM-Plex-Sans/ibmplexsans-regular-webfont.woff2")
      format("woff2"),
    url("/src/assets/Fonts/webfontkit-IBM-Plex-Sans/ibmplexsans-regular-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ibm_plex_sanssemibold";
  src: url("/src/assets/Fonts/webfontkit-IBM-Plex-Sans/ibmplexsans-semibold-webfont.woff2")
      format("woff2"),
    url("/src/assets/Fonts/webfontkit-IBM-Plex-Sans/ibmplexsans-semibold-webfont.woff")
      format("woff");
  font-weight: semi-bold;
  font-style: normal;
}

@font-face {
  font-family: "ibm_plex_sanssemibold_italic";
  src: url("/src/assets/Fonts/webfontkit-IBM-Plex-Sans/ibmplexsans-semibolditalic-webfont.woff2")
      format("woff2"),
    url("/src/assets/Fonts/webfontkit-IBM-Plex-Sans/ibmplexsans-semibolditalic-webfont.woff")
      format("woff");
  font-weight: semi-bold;
  font-style: italic;
}

@font-face {
  font-family: "ibm_plex_sansthin";
  src: url("/src/assets/Fonts/webfontkit-IBM-Plex-Sans/ibmplexsans-thin-webfont.woff2")
      format("woff2"),
    url("/src/assets/Fonts/webfontkit-IBM-Plex-Sans/ibmplexsans-thin-webfont.woff")
      format("woff");
  font-weight: thin;
  font-style: normal;
}

@font-face {
  font-family: "ibm_plex_sansthin_italic";
  src: url("/src/assets/Fonts/webfontkit-IBM-Plex-Sans/ibmplexsans-thinitalic-webfont.woff2")
      format("woff2"),
    url("/src/assets/Fonts/webfontkit-IBM-Plex-Sans/ibmplexsans-thinitalic-webfont.woff")
      format("woff");
  font-weight: thin;
  font-style: italic;
}

body {
  font-family: var(--font-family-default);
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
  text-rendering: optimizeLegibility;
  font-synthesis: none;
  font-size: 1rem;
  line-height: 1.5rem;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  a:not(.button) {
    color: var(--action-color);
    text-decoration: underline;

    &:visited {
      color: var(--action-color);
    }

    &:hover,
    &:focus {
      color: var(--action-color-state);
      text-decoration: none;
    }
  }

  :where(main) a {
    word-wrap: break-word;
    word-break: break-word;
  }

  :where(h1, h2) {
    font-family: var(--font-family-special);
  }

  h1,
  h2 {
    font-weight: 800;
  }

  h3,
  h4,
  h5,
  h6 {
    font-weight: 600;
  }

  h1 {
    font-size: 2.25rem;
    line-height: 3.375rem;

    @include breakpoint(medium) {
      font-size: 3rem;
      line-height: 3.625rem;
    }
  }

  h2 {
    font-size: 1.875rem;
    line-height: 2.8125rem;

    @include breakpoint(medium) {
      font-size: 2.25rem;
      line-height: 3.375rem;
    }
  }

  h3 {
    font-size: 1.5rem;
    line-height: 2.25rem;

    @include breakpoint(medium) {
      font-size: 1.875rem;
      line-height: 2.8125rem;
    }
  }

  h4 {
    font-size: 1.25rem;
    line-height: 1.875rem;

    @include breakpoint(medium) {
      font-size: 1.5rem;
      line-height: 2.25rem;
    }
  }

  h5 {
    font-size: 1.125rem;
    line-height: 1.6875rem;

    @include breakpoint(medium) {
      font-size: 1.25rem;
      line-height: 1.875rem;
      h6 {
        font-size: 1rem;
      }
    }

    line-height: 1.5rem;

    @include breakpoint(medium) {
      font-size: 1.125rem;
      line-height: 1.6875rem;
    }
  }
}
