---
import GuidePageContainer from "../../components/GuidePageContainer.astro";
import { PAGES } from "../../utils/constants";

const {
  title = PAGES.RESUMES.title,
  description = PAGES.RESUMES.description,
  url = PAGES.RESUMES.url,
} = Astro.props;
---

<GuidePageContainer title={title} description={description} url={url}>
  <p>HERE IS THE BODY OF THE {title} page</p>
</GuidePageContainer>
