---
import GuideCardContainer from "../../components/GuideCardContainer.astro";
import DefaultLayout from "../../layouts/DefaultLayout.astro";
---

<DefaultLayout
  title="guides"
  description="An example of a guides with dynamic content fetched from JSONPlaceholder using the title, body and userId."
>
  <div slot="slotMain">
    <header class="my-12">
      <div class="space-content container">
        <h1>topics</h1>
        <p class="text-2xl">
          An example of a topics with dynamic content fetched from <a
            href="https://jsonplaceholder.typicode.com/posts">JSONPlaceholder</a
          > using the title, body and userId. The Accessible Astro Card Component
          is used here to display al the posts.
        </p>
      </div>
    </header>
    <main class="my-12">
      <div class="container">
        <GuideCardContainer />
      </div>
    </main>
  </div>
</DefaultLayout>

<style lang="scss">
  ul {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 4rem;

    @media (min-width: 550px) {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 2rem;
    }

    @media (min-width: 950px) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
</style>
