---
import GuidePageContainer from "../../components/GuidePageContainer.astro";
import { PAGES } from "../../utils/constants";

const {
  title = PAGES.WORKPLACE_CULTURE.title,
  description = PAGES.WORKPLACE_CULTURE.description,
  url = PAGES.WORKPLACE_CULTURE.url,
} = Astro.props;
---

<GuidePageContainer title={title} description={description} url={url}>
  <p>HERE IS THE BODY OF THE {title} page</p>
</GuidePageContainer>
