---
import DefaultLayout from "../layouts/DefaultLayout.astro";
import Hero from "../components/Hero.astro";
import Intro from "../components/Intro.astro";
import GuideCardContainer from "../components/GuideCardContainer.astro";
---

<DefaultLayout title="Home">
  <div slot="slotMain">
  <Hero />
  <section>
    <div class="container">
      <Intro />
      <GuideCardContainer />
    </div>
  </section>
</div>
</DefaultLayout>

<style lang="scss">
  .line {
    width: 100%;
    height: 2px;
    background: #292524;
  }
  body {
    background: #efedea;
  }
</style>
