---
import DefaultLayout from "../layouts/DefaultLayout.astro";
import Hero from "../components/Hero.astro";
import Feature from "../components/Feature.astro";
import Counter from "../components/Counter.astro";
import ContentMedia from "../components/ContentMedia.astro";
---

<DefaultLayout title="Home">
  <Hero />
  <section class="my-64">
    <div class="container">
      <h2 class="mb-16 text-6xl">Topics</h2>
      <div class="grid grid-cols-1 gap-12 md:grid-cols-2 lg:grid-cols-3">
        <Feature
          icon="tabler:old"
          title="Retirement Plans"
          url="/blog/retirement-plans"
        >
          Let's talk different types of retirement plans, their benefits, and
          alternatives so you can feel confident in planning for your future.
        </Feature>
        <Feature
          icon="ic:outline-balance"
          title="Work-Life Balance"
          url="/blog/work-life-balance"
        >
          Struggling to balance your job and personal life? Let's talk tips and
          mindset shifts so you can live your best life, both in and out of
          work.
        </Feature>
        <Feature
          icon="icon-park-outline:id-card-v"
          title="Resumes"
          url="/blog/resumes"
        >
          Your resume is your first impression to potential employers. Let's
          make yours stand out with tips and tricks from leading experts.
        </Feature>
        <Feature
          icon="ph:mask-sad-bold"
          title="Imposter Syndrome"
          url="/blog/imposter-syndrome"
        >
          Let's put imposter syndrome in its place! This guide shares practical
          tips and insights to help you overcome self-doubt and succeed in your
          career.
        </Feature>
        <Feature
          icon="ri:health-book-line"
          title="Heathcare Plans"
          url="/blog/healthcare-plans"
        >
          Choosing the right healthcare plan can be complicated. Let's takes the
          guesswork out of selecting the right plan by explaining the different
          types of plans, their benefits, and alternatives.
        </Feature>
        <Feature
          icon="mdi:people-group-outline"
          title="Building Your Network"
          url="/blog/building-your-network"
        >
          Networking is crucial for career growth, but it can be daunting. Let's
          go over tips to help you build and expand your professional network
          and advance your career.
        </Feature>
        <Feature
          icon="ic:baseline-work-outline"
          title="Career Development"
          url="/blog/career-development"
        >
          Are you looking to advance your career but don't know where to start?
          This guide provides actionable steps and resources to help your career
          reach it's full potential.
        </Feature>
        <Feature
          icon="ph:money-bold"
          title="Negotiating Pay"
          url="/blog/negotiating-pay"
        >
          Don't leave money on the table! This guide provides tips and
          strategies to help you negotiate your salary and benefits, so you can
          earn what you're worth and feel valued in your job.
        </Feature>
        <Feature
          icon="icon-park-outline:people-speak"
          title="Advocating For Yourself"
          url="/blog/advocating-for-yourself"
        >
          Advocating for yourself is essential for career success, but it can be
          hard. Let's talk about building assertiveness, effectively communicate
          your needs, boundaries, and goals in the workplace.
        </Feature>
        <Feature
          icon="vaadin:workplace"
          title="Workplace Culture"
          url="/blog/workplace-culture"
        >
          Workplace culture can greatly impact job satisfaction and
          productivity. Let's explore elements of a positive workplace culture
          and navigating red flags.
        </Feature>
        <Feature
          icon="ic:sharp-access-time"
          title="Inter-Timezone Work"
          url="/blog/inter-timezone-work"
        >
          Let's talk best practices of working across timezones so you can
          maximize productivity, communicate effectively, and maintain a healthy
          work-life balance.
        </Feature>
        <Feature
          icon="uil:award"
          title="Importance of Personal Brand"
          url="/blog/personal-brand"
        >
          Are you wanting to leverage your brand to advance your career but
          don't know how? This guide explores importance of personal branding
          and tips to help you define and develop your own brand.
        </Feature>
      </div>
    </div>
  </section>
  <ContentMedia imgSrc="/accessible-components.webp">
    <h2>Accessible Components</h2>
    <p class="text-2xl">
      This theme provides plenty of tried and tested Accessible Astro
      Components. Some are native to this theme and a lot of others are
      integrated using a <a
        href="https://github.com/markteekman/accessible-astro-components"
        >separate package</a
      >. They'll get you up and running in building an accessible solution for
      your visitors.
    </p>
  </ContentMedia>
  <ContentMedia imgSrc="/wcag-compliant.webp" reverseImg={true}>
    <h2>WCAG 2.1 AA Compliant</h2>
    <p class="text-2xl">
      Using semantic HTML, landmarks, skip links, screen reader friendly
      content, aria-labels, keyboard accessible navigation and components, clear
      outlines and tab indicators and the right color contrast, you're more
      certain of reaching WCAG AA compliance.
    </p>
  </ContentMedia>
  <section class="mt-64 mb-32">
    <div class="container">
      <h2 class="mb-16 text-6xl">Counters</h2>
      <div class="grid grid-cols-1 gap-12 sm:grid-cols-2 md:grid-cols-4">
        <Counter count="130" title="Stars" sub="On GitHub" />
        <Counter count="17" title="Accessible" sub="Components" />
        <Counter count="500" title="Commits" sub="Merged" />
        <Counter count="18+" title="Months" sub="Since launch" />
      </div>
    </div>
  </section>
</DefaultLayout>
