---
import { PAGES } from "../utils/constants.js";
import GuideCard from "../components/GuideCard.astro";
---

<section>
  <h2 class="mb-16 text-6xl">Guides</h2>
  <div class="grid grid-cols-1 gap-12 md:grid-cols-2 lg:grid-cols-3">
    {
      Object.values(PAGES).map((page) => (
        <GuideCard
          icon={page.icon}
          title={page.title}
          url={`/guides/${page.url}`}
        />
      ))
    }
  </div>
</section>
