---
import { Icon } from "astro-icon";

const { icon = "mdi:rocket", title = "Title", url } = Astro.props;
---

<div class="feature flex flex-col gap-4">
  <a href={url}>
    <Icon name={icon} />
    <div class="content">
      <h3>{title}</h3>
    </div>
  </a>
</div>

<style lang="scss">
  @use "../assets/scss/base/breakpoint" as *;
  @use "../assets/scss/base/breakpoint" as *;

  .feature {
    position: relative;
    color: #f4f1d0;
    width: calc(100% - 0.5rem);
    background-color: var(--neutral-900);
    border-radius: 1.3rem;
    padding-bottom: 0.6rem;
    transition: all 0.3s ease-in-out;
    text-decoration: none !important;

    @include breakpoint(large) {
      width: 100%;
    }

    &:hover {
      transform: scale(1.05);
      color: #f4f1d0;
    }

    h3 {
      padding-bottom: 0.5em;
    }
  }

  .content * {
    text-decoration: none !important;
  }

  :global(.feature [astro-icon]) {
    padding: 1rem 3rem;
    width: 100%;
    color: #f4f1d0;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    background: #506485;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    &:hover {
      filter: brightness(1.09);
    }
  }

  :global(.feature:nth-child(3n) [astro-icon]) {
    background: #5d883a;
  }
  :global(.feature:nth-child(2n) [astro-icon]) {
    background: #a6307f;
  }
  :global(.feature:nth-child(6n) [astro-icon]) {
    background: #5d883a;
  }
  .content {
    padding: 1em;
  }

  :global(.darkmode .feature) {
    background-color: var(--dark-100);
    box-shadow: 0 0 0 6px var(--dark-100);
  }
</style>
