<div class="container">
  <p>
    Welcome to Career Catalyst! Our mission is to empower first-generation
    corporate America workers to navigate the corporate landscape, achieve their
    professional goals, and build successful careers. We've designed our website
    to provide you with all the tools and resources you need to succeed.
  </p>
  <p>
    To get started, we recommend exploring our various topics, including
    retirement planning, healthcare planning, overcoming imposter syndrome, and
    setting meaningful career goals. Each topic has a breakdown that includes
    glossary terms and linked videos, as well as external resources to help you
    dive deeper into each subject.
  </p>
  <p>
    Our goal is to provide you with the support and guidance you need to succeed
    in your career. If you have any questions or would like to recommend a new
    topic be added, don't hesitate to contact us.
  </p>
</div>
