<div class="container">
  <h2>Welcome to Career Catalyst 👋🏾</h2>
  <p>
    Our mission is to <span class="emphasis">
      empower first-generation corporate America workers
    </span>
    <span
      >to navigate the corporate landscape, achieve their professional goals,
      and build successful careers. We've designed our website to provide you
      with all the tools and resources you need to succeed.</span
    >
  </p>

  <h2>Let’s get started</h2>
  <p>
    To get started, we recommend <span class="emphasis">
      exploring our various topics,
    </span>
    <span class="stabilize">
      including retirement planning, healthcare planning, overcoming imposter
      syndrome, and setting meaningful career goals. Each topic has a breakdown
      that includes glossary terms and linked videos, as well as external
      resources to help you dive deeper into each subject. <br /> Our goal is to
      provide you with the support and guidance you need to succeed in your career.
      If you have any questions or would like to recommend a new topic be added,
      don't hesitate to contact us.
    </span>
  </p>
</div>

<style lang="scss">
  .emphasis {
    font-family: "ibm_plex_sansbold", sans-serif;
    display: contents;
    // font-size: 1.3em;
    font-style: normal;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    padding: 0em 0.2em;
  }

  .container {
    display: inline-block;
    margin: 0em 0em 6em 0em;
    max-width: 60em;
    padding: 4em 1em;
    line-height: 2.6em !important;
  }
  .container h1 {
    margin: 0.09em 0em;
    padding: 0em;
    font-family: "ibm_plex_sansbold", sans-serif;
  }
  p {
    max-width: 40em;
    font-size: 1.3rem;

    display: inline-block;
  }

  .stabilize {
    font-size: 1.3rem;
    padding-top: -0em;
  }
</style>
